body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    color: #fff;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}
input, button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}
.button {
    background: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}
.button:hover {
    background: #218838;
}
.image {
    height: 100vh; /* Ensures the element takes up the full viewport height */
}
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    table {
        font-size: 0.9rem;
    }

    table th, table td {
        padding: 8px;
    }
}

